<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body">
    
    <div className='wrapper'>
        <div className="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div className="banner">
            <img src={NAMA} alt="" className="coverimg" />
            <div className="content">
                
                <p>Kepada YTH.</p>
                <p>Nama Tamu Undangan</p>
            </div>
            <Button variant="contained" startIcon={<MailIcon/>} size="large" color="brown"
                    className="custom-button">Open Invitation</Button>
        </div>
    </div>
    
</body>
</html>