@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Benne&family=DM+Serif+Display:ital@1&family=Parisienne&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Arimo&family=Beau+Rivage&family=Inter&display=swap');

.color-1{
 color: #974F0D;
}
.color-2{
    color: #9A3B3B;
}
.color-3{
    color: #BAAD6B;
}

.color-4{
    color: #C08261;
}

.color-5{
    color:#CC7C50
}
.color-6{
    color: #F2E5D2;
}

.bg-btn-salin{
    background-color: #7FD575;
    border-color: #7FD575;
}

.bg-5{
    background-color: #EDD8C7;
}
.bg-3{
    background-color: #C08261;
}
.bg-4{
    background-color: #9A3B3B;
}
/* CSS untuk gambar latar belakang di perangkat desktop */
@media (min-width: 768px){
.bg-1{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5),rgba(0,0,0,0) ),url('../image/BgDesktop.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-2{
        /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),url('../image/FPCut.png'); */
        background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(218,218,218,0.8) 97%),url('../image/FPCut.png');
        background-size: cover;
        background-repeat: no-repeat;
    }   
.mobile-image {
    display: none;
    }

    .desktop-image {
    display: block;
    } 
    #section1 h1, #locked h1{
        font-size: 5vw;
        text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
        0px -4px 10px rgba(255,255,255,0.3);
        }
}


/* CSS untuk gambar latar belakang di perangkat seluler */
@media (max-width: 767px) {
    .bg-1 {
        background-image: url('../image/FotoPrewed1.png');
        background-size: cover;
    background-repeat: no-repeat;
    }
    .bg-2{
        /* background: rgba(151, 132, 132, 0.6); */
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.5)),url('../image/FotoPrewed2.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .mobile-image {
    display: block;
    }

    .desktop-image {
    display: none;
    }    
    
    #section1 h1, #locked h1{
    font-size: 15vw;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    }
    
}




.nama h1{
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: bold;
}

.song-myung{
    font-family: 'Song Myung', serif;
}

  .wave-container {  
    height: 50vh;
    background-color: #ffffff;
    background-image: url('../image/wave\ \(6\).svg'),url('../image/wave\ \(7\).svg'),url('../image/wave\ \(4\).svg');
    /* position: absolute; */
    bottom: -0.3%;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .wave-container2 {  
    height: 50vh;
    background-color: #ffffff;
    background-image:url('../image/wave\ \(8\).svg'),url('../image/wave.svg'),url('../image/wave\ \(3\).svg');
    position: relative;
    top:-10%;
    background-repeat: no-repeat;
  }

  .wave-container3 {  
    height: 60vh;
    background-color: #ffffff;
    background-image:url('../image/wave.svg'),url('../image/wave\ \(3\).svg'),url('../image/wave\ \(8\).svg');
    position: relative;
    top:4%;
    background-repeat: no-repeat;
  }
  .wave-container4 {  
    height: 50vh;
    background-color: #ffffff;
    background-image: url('../image/wave\ \(7\).svg'),url('../image/wave\ \(6\).svg'),url('../image/wave\ \(4\).svg');
    /* position: absolute; */
    bottom: -0.3%;
    background-position: bottom;
    background-repeat: no-repeat;
  }

/* CSS untuk gambar latar belakang di perangkat seluler */
@media (max-width: 767px) {
    .gambar{
        width: 40vh;
    }
    .text-s2{
        font-size: smaller;
    }
    .gambar-blob{
        width: 18vh;
    }
    .text-s3{
        font-size: medium;
    }
    .g-carousel{
        min-height: 60vh;
        max-height: 60vh;
    }
    .bri{
        width: 15vh;
    }
    .img-footer{
        width: 100vw;
    }

}

/* CSS untuk gambar latar belakang di perangkat desktop */
@media (min-width: 768px){
    .gambar{
        width: 40vh;
    }  
    .gambar-blob, .bri{
        width: 25vh;
    }  
    .g-carousel{
        max-height: 70vh;
        min-height: 70vh;
    }
    .img-footer{
        width: 70vh;
        margin-top: 20%;
    }
}

.paris{
    font-family: 'Parisienne', cursive;
    /* font-size: 1em; */
    /* color: #9A3B3B; */
}

.benne{
    font-family: 'Benne', serif;
    /* color: #9A3B3B; */
}

.amiri{
    font-family: 'Amiri', serif;
}

.inter{
    font-family: 'Inter', sans-serif;
}

.arimo{
    font-family: 'Arimo', sans-serif;
}

.beau{
    font-family: 'Beau Rivage', cursive;
}

.custom-border{
    border-image: linear-gradient(90deg, rgba(243,217,119,1) 0%, rgba(109,73,32,1) 97%);
    border-image-slice: 1;
}

.custom-border2{
    border-image: linear-gradient(270deg, rgba(243,217,119,1) 0%, rgba(109,73,32,1) 97%);
    border-image-slice: 1;
}

.custom-border3{
    border-image: linear-gradient(90deg, #AE8625 0%, #E0AA3E 97%);
    border-image-slice: 1;
}

.custom-border4{
    border-image: linear-gradient(270deg, #AE8625 0%, #E0AA3E 97%);
    border-image-slice: 1;

}

.img-5{
    height: 50vh;
}


.scrollable-list {
    max-height: 15vh; /* Tentukan tinggi maksimum daftar yang dapat di-scroll */
    overflow-y: scroll; /* Aktifkan overflow vertical */
    /* transition: transform 5s ease-in-out;  */
    /* Tambahkan transisi CSS untuk efek scroll yang halus */
}

#dataList::-webkit-scrollbar {
    display: none;
}

.card {
    margin-bottom: 10px; /* Jarak antara item dalam daftar */
}

.audio-icon-wrapper{
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    cursor: pointer;
    color: white;
    opacity: 0.5;
    mix-blend-mode: difference;
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

@keyframes rotating {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(1turn);
    }
}